.super-mario {
    width: 50px;
    left: 20px;
  }
  
  .goomba {
    width: 50px;
    top: 100px;
  }
  
  .baloon {
  
  }
  
  .speach {
    font-size: 25px;
  }
  
  .bowser {
    width: 200px;

  }